{
    background: #eeeeee;
}

#login-card {
    padding: 0 15px;
    border-radius: 3px;
}

#loginbtn {
    border-radius: 3px;
}

span[id^=not_signed_]:before, span[id^=connected]:before {
    content: 'Acessar';
    padding-right: 100px;
    padding-left: 7px;
}